---
layout: landing
---
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>{{ site.title }}</h2>
							<p>{{ site.description | markdownify }}</p>
							<ul class="actions">
								<li><a href="#" class="button special">Contact us</a></li>
							</ul>
						</div>
						<a href="#one" class="more scrolly">Learn More</a>
					</section>

					{% for post in site.categories.content-landing reversed %}
						{% capture id %}{{ post.id | remove:'/' | downcase }}{% endcapture %}
						<section id="one" class="wrapper style{{ forloop.index }} special {{post.categories | join: '_'}}">
								{% if post.image %}
									<img class="left" src="images/{{ post.image }}" />
								{% endif %}
							<div class="inner {{ page.style }}">

								{{ post.content }}
							</div>
						</section>
					{% endfor %}s

				<!-- Call to action -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Arcue ut vel commodo</h2>
								<p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
							</header>
							<ul class="actions vertical">
								<li><a href="#" class="button fit special">Activate</a></li>
								<li><a href="#" class="button fit">Learn More</a></li>
							</ul>
						</div>
					</section>
